* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 1.125rem;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: rgb(89, 157, 180);
}

a:hover {
  color: red;
}

a.active {
  color: rgb(81, 184, 81);
}

header {
  background: #000;
  padding: 20px;
}

header img,
header nav {
  display: inline-block;
}

header nav {
  vertical-align: top;
  margin-top: 27px;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  margin-right: 20px;
}

ul li:last-child {
  margin-right: 0;
}

.divider {
  display: inline-block;
  width: calc(100% - 580px);
}

.services-content {
  display: inline-block;
  width: 70%;
}

#main-content {
  padding: 40px;
}

.back-to-top span {
  font-size: 1.75rem;
  position: absolute;
  right: 17px;
  bottom: 0px;
}

#main-content {
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.75rem;
}

#main-content img {
  max-width: 360px;
  border-radius: 10px;
}

#main-content div {
  margin-bottom: 100px;
}

#main-content div:last-child {
  margin-bottom: 0;
}

#main-content div:nth-child(1) img {
  float: left;
  margin-right: 40px;
}

#main-content div:nth-child(2) img {
  float: right;
  margin-left: 40px;
}

#main-content div:nth-child(3) img {
  max-width: 550px;
  margin-bottom: 40px;
}

#main-content div:nth-child(3) img:nth-child(1) {
  float: left;
}

#main-content div:nth-child(3) img:nth-child(2) {
  float: right;
}

#main-content div:nth-child(3) p {
  clear: both;
}

#main-content h1 {
  font-size: 1.75rem;

  text-align: center;
  font-weight: 500;
}

footer {
  background: #000;
  color: #fff;
  width: 100%;
  padding: 30px;
  text-align: center;
}

.divider-footer {
  display: block;
  height: 2px;
  width: 100%;
  background: #ccc;
  margin: 20px 0;
}
